.navFirstBtn {
  background-color: rgba(240, 248, 255, 0);
  border-color: white;
  border-radius: 20px;
  width: 120px;
}

.navFirstBtn:hover {
  background-color: rgba(240, 248, 255, 0.349);
  border-color: white;
  border-radius: 20px;
  width: 120px;
}

.navSecondBtn {
  background-color: rgba(240, 248, 255, 0);
  border-color: rgba(240, 248, 255, 0);
  text-transform: uppercase;
}

.navSecondBtn:hover {
  background-color: rgba(240, 248, 255, 0.349);
  border-color: white;
}
